# Fitting a Logistic Regression Model - Lab

## Introduction
In the last lecture, you were given a broad overview of logistic regression. This included two seperate packages for creating logistic regression models. We'll first investigate building logistic regression models with 

## Objectives

You will be able to:
* Understand and implement logistic regression

## Review

The stats model example we covered had four essential parts:
    * Importing the data
    * Defining X and y
    * Fitting the model
    * Analyzing model results

The corresponding code to these four steps was:

```
import pandas as pd
from patsy import dmatrices
import statsmodels.api as sm

#Step 1: Importing the data
salaries = pd.read_csv("salaries_final.csv", index_col = 0)

#Step 2: Defining X and y
y, X = dmatrices('Target ~ Age  + C(Race) + C(Sex)',
                  salaries, return_type = "dataframe")

#Step 3: Fitting the model
logit_model = sm.Logit(y.iloc[:,1], X)
result = logit_model.fit()

#Step 4: Analyzing model results
result.summary()
```

Most of this should be fairly familiar to you; importing data with Pandas, initializing a regression object, and calling the fit method of that object. However, step 2 warrants a slightly more in depth explanation.

The `dmatrices()` method above mirrors the R languages syntax. The first parameter is a string representing the conceptual formula for our model. Afterwards, we pass the dataframe where the data is stored, as well as an optional parameter for the formate in which we would like the data returned. The general pattern for defining the formula string is: `y_feature_name ~ x_feature1_name + x_feature2_name + ... + x_featuren_name`. You should also notice that two of the x features, Race and Sex, are wrapped in `C()`. This indicates that these variables are *categorical* and that dummy variables need to be created in order to convert them to numerical quantities. Finally, note that y itself returns a Pandas DataFrame with two columns as y itself was originally a categorical variable. With that, it's time to try and define a logistic regression model on your own!

## Your Turn - Step 1: Import the Data

Import the data stored in the file **titanic**.

In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')

## Step 2: Define X and Y

For our first foray into logistic regression, we are going to attempt to build a model that classifies whether an indivdual survived the Titanic shiwrech or not (yes its a bit morbid). Follow the programming patterns described above to define X and y.

In [16]:
#Your code here
from patsy import dmatrices

y, X = dmatrices('Survived ~ Pclass + C(Sex) + Age + SibSp +  Fare + C(Embarked)',
                  df, return_type = "dataframe")

In [17]:
X

,Intercept,C(Sex)[T.male],C(Embarked)[T.Q],C(Embarked)[T.S],Pclass,Age,SibSp,Fare
0,1.0,1.0,0.0,1.0,3.0,22.0,1.0,7.2500
1,1.0,0.0,0.0,0.0,1.0,38.0,1.0,71.2833
2,1.0,0.0,0.0,1.0,3.0,26.0,0.0,7.9250
3,1.0,0.0,0.0,1.0,1.0,35.0,1.0,53.1000
4,1.0,1.0,0.0,1.0,3.0,35.0,0.0,8.0500
6,1.0,1.0,0.0,1.0,1.0,54.0,0.0,51.8625
7,1.0,1.0,0.0,1.0,3.0,2.0,3.0,21.0750
8,1.0,0.0,0.0,1.0,3.0,27.0,0.0,11.1333
9,1.0,0.0,0.0,0.0,2.0,14.0,1.0,30.0708
10,1.0,0.0,0.0,1.0,3.0,4.0,1.0,16.7000
11,1.0,0.0,0.0,1.0,1.0,58.0,0.0,26.5500
12,1.0,1.0,0.0,1.0,3.0,20.0,0.0,8.0500
13,1.0,1.0,0.0,1.0,3.0,39.0,1.0,31.2750
14,1.0,0.0,0.0,1.0,3.0,14.0,0.0,7.8542
15,1.0,0.0,0.0,1.0,2.0,55.0,0.0,16.0000
16,1.0,1.0,1.0,0.0,3.0,2.0,4.0,29.1250
18,1.0,0.0,0.0,1.0,3.0,31.0,1.0,18.0000
20,1.0,1.0,0.0,1.0,2.0,35.0,0.0,26.0000
21,1.0,1.0,0.0,1.0,2.0,34.0,0.0,13.0000
22,1.0,0.0,1.0,0.0,3.0,15.0,0.0,8.0292
23,1.0,1.0,0.0,1.0,1.0,28.0,0.0,35.5000
24,1.0,0.0,0.0,1.0,3.0,8.0,3.0,21.0750
25,1.0,0.0,0.0,1.0,3.0,38.0,1.0,31.3875
27,1.0,1.0,0.0,1.0,1.0,19.0,3.0,263.0000
30,1.0,1.0,0.0,0.0,1.0,40.0,0.0,27.7208
33,1.0,1.0,0.0,1.0,2.0,66.0,0.0,10.5000
34,1.0,1.0,0.0,0.0,1.0,28.0,1.0,82.1708
35,1.0,1.0,0.0,1.0,1.0,42.0,1.0,52.0000
37,1.0,1.0,0.0,1.0,3.0,21.0,0.0,8.0500
38,1.0,0.0,0.0,1.0,3.0,18.0,2.0,18.0000
...,...,...,...,...,...,...,...,...
856,1.0,0.0,0.0,1.0,1.0,45.0,1.0,164.8667
857,1.0,1.0,0.0,1.0,1.0,51.0,0.0,26.5500
858,1.0,0.0,0.0,0.0,3.0,24.0,0.0,19.2583
860,1.0,1.0,0.0,1.0,3.0,41.0,2.0,14.1083
861,1.0,1.0,0.0,1.0,2.0,21.0,1.0,11.5000
862,1.0,0.0,0.0,1.0,1.0,48.0,0.0,25.9292
864,1.0,1.0,0.0,1.0,2.0,24.0,0.0,13.0000
865,1.0,0.0,0.0,1.0,2.0,42.0,0.0,13.0000
866,1.0,0.0,0.0,0.0,2.0,27.0,1.0,13.8583
867,1.0,1.0,0.0,1.0,1.0,31.0,0.0,50.4958
869,1.0,1.0,0.0,1.0,3.0,4.0,1.0,11.1333
870,1.0,1.0,0.0,1.0,3.0,26.0,0.0,7.8958
871,1.0,0.0,0.0,1.0,1.0,47.0,1.0,52.5542
872,1.0,1.0,0.0,1.0,1.0,33.0,0.0,5.0000
873,1.0,1.0,0.0,1.0,3.0,47.0,0.0,9.0000
874,1.0,0.0,0.0,0.0,2.0,28.0,1.0,24.0000
875,1.0,0.0,0.0,0.0,3.0,15.0,0.0,7.2250
876,1.0,1.0,0.0,1.0,3.0,20.0,0.0,9.8458
877,1.0,1.0,0.0,1.0,3.0,19.0,0.0,7.8958
879,1.0,0.0,0.0,0.0,1.0,56.0,0.0,83.1583
880,1.0,0.0,0.0,1.0,2.0,25.0,0.0,26.0000
881,1.0,1.0,0.0,1.0,3.0,33.0,0.0,7.8958
882,1.0,0.0,0.0,1.0,3.0,22.0,0.0,10.5167
883,1.0,1.0,0.0,1.0,2.0,28.0,0.0,10.5000
884,1.0,1.0,0.0,1.0,3.0,25.0,0.0,7.0500
885,1.0,0.0,1.0,0.0,3.0,39.0,0.0,29.1250
886,1.0,1.0,0.0,1.0,2.0,27.0,0.0,13.0000
887,1.0,0.0,0.0,1.0,1.0,19.0,0.0,30.0000
889,1.0,1.0,0.0,0.0,1.0,26.0,0.0,30.0000
890,1.0,1.0,1.0,0.0,3.0,32.0,0.0,7.7500

## Step 3: Fit the model

Now with everything in place, initialize a regression object and fit your model!

### Warning: If you receive an error of the form "LinAlgError: Singular matrix"
Stats models was unable to fit the model due to some Linear Algebra problems. Specifically, the matrix was not invertable due to not being full rank. In layman's terms, there was a lot of redundant superfulous data. Try removing some features from the model and running it again.

In [7]:
# Your code here
import statsmodels.api as sm
logit_model = sm.Logit(y, X)
result = logit_model.fit()

Optimization terminated successfully.
         Current function value: 0.445882
         Iterations 6

## Step 4: Analyzing results

Generate the summary table for your model. Then, comment on the p-values associated with the various features you chose.

In [9]:
#Your code here
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            4
Date:                Fri, 15 Mar 2019   Pseudo R-squ.:                  0.3399
Time:                        19:24:39   Log-Likelihood:                -318.36
converged:                       True   LL-Null:                       -482.26
                                        LLR p-value:                 1.089e-69
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          5.6008      0.543     10.306      0.000       4.536       6.666
C(Sex)[T.male]    -2.6235      0.215    -12.229      0.000      -3.044      -2.203
Pclass            -1.3174      0.141     -9.350      0.000      -1.594      -1.041
Age               -0.0444      0.008     -5.442      0.000      -0.060      -0.028
SibSp             -0.3761      0.121     -3.106      0.002      -0.613      -0.139
==================================================================================
"""

## Your analysis here

## Level - up

Create a new model, this time only using those features you determined were influential based on your analysis in step 4.

In [6]:
#your code here
y, X = dmatrices('Survived ~ Pclass  + C(Sex) + Age + SibSp ',
                  df, return_type = "dataframe")

logit_model = sm.Logit(y, X)
result = logit_model.fit()

result.summary()

Optimization terminated successfully.
         Current function value: 0.445882
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            4
Date:                Fri, 15 Mar 2019   Pseudo R-squ.:                  0.3399
Time:                        19:23:44   Log-Likelihood:                -318.36
converged:                       True   LL-Null:                       -482.26
                                        LLR p-value:                 1.089e-69
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          5.6008      0.543     10.306      0.000       4.536       6.666
C(Sex)[T.male]    -2.6235      0.215    -12.229      0.000      -3.044      -2.203
Pclass            -1.3174      0.141     -9.350      0.000      -1.594      -1.041
Age               -0.0444      0.008     -5.442      0.000      -0.060      -0.028
SibSp             -0.3761      0.121     -3.106      0.002      -0.613      -0.139
==================================================================================
"""

## Summary 

Well done. In this lab we practiced using stats models to build a logistic regression model. We then reviewed interpreting the results, building upon our previous stats knowledge, similar to linear regression. Continue on to take a look at building logistic regression models in Sci-kit learn!